/*-----------------------
    Alert
-----------------------*/
.alert {
    background-color: $color-heading;
    padding: 24px 20px;
    border-radius: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 3px;
    border: none;
}